section{
  width: 100%;
  margin: 0 auto;
}
.cards{
  width: 100%;
  margin: 1rem;
  padding: 1rem;
}
.carousel{
  width: 95%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.carousel__container{
  transition: transform 0.3s;
  transform: translate3d(0, 0, 0);
}
.carousel__container::after{
  content: '';
  clear: both;
  display: table;
}
.carousel__item{
  float: left;
}
.carousel__next,
.carousel__prev{
  z-index: 2;
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  color: var(--mainReddish);
  text-shadow: 1px 1px 2px var(--navbarGrey);
  border-radius: 50%;
  top: 50%;
  margin-top: -20px;
  right: 10px;
  cursor: pointer;
  transition: transform 0.3s, opacity 0.3s;
}
.carousel__next:hover,
.carousel__prev:hover{
  transform: scale(1.2);
}
.carousel__prev{
  right: auto;
  left: 20px;
}
.carousel__next-hidden,
.carousel__prev-hidden{
  opacity: 0;
}
@media all and (max-width: 1000px){
  .carousel__prev{
    left: 0;
  }
  .carousel__next{
    right: 0;
  }
}
