section{
  width: 100%;
  margin: 0 auto;
}
figure{
  margin: 1rem;
  padding: 1rem;
}
.cards{
  width: 80%;
  margin: 0;
  padding: 0;
  transition: transform .3s;
  border-radius: 2rem;

}
.cards:hover{
  transform: scale(1.02);
  filter: brightness(1.05);
}
figcaption{
  z-index: 2;
  a{
    color: var(--mainReddish);
  }
}
.fa-info-circle{
  color: var(--theYellow);
  cursor: pointer;
  z-index: 99;
  &:hover{
    transform: scale(1.05);
    filter: brightness(1.05);
  }
}
.div-info{
  width: 80%;
  display: flex;
  position: relative;
  bottom: 4rem;
  left: .5rem;
  z-index: 11;
  float: left;
}
.learn-more{
  width: 20rem;
}
.carousel{
  width: 95%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
#carousel1{
  margin: 0 auto;
}
.carousel__container{
  transition: transform 0.3s;
  transform: translate3d(0, 0, 0);
}
.carousel__container::after{
  content: '';
  clear: both;
  display: table;
}
.carousel__item{
  float: left;
}
.carousel__next,
.carousel__prev{
  z-index: 99;
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  color: var(--mainReddish);
  text-shadow: 1px 1px 2px var(--navbarGrey);
  border-radius: 50%;
  top: 35%;
  right: 10px;
  cursor: pointer;
  transition: transform 0.3s, opacity 0.3s;
}
.carousel__next:hover,
.carousel__prev:hover{
  transform: scale(1.1);
}
.carousel__prev{
  right: auto;
  left: 5px;
}
.carousel__next-hidden,
.carousel__prev-hidden{
  opacity: 0;
}
.hidden-text{
  display: none;
  font-size: 1rem;
  color: #fff;
  background-color: var(--navbarGrey);
  border-radius: .5rem;
  margin: 0;
  margin-left: .7rem;
  padding: .3rem;
}

.bio{
  position: relative;
  width: 80%;
  margin: 0 auto;
  border-radius: .5rem;
  color: #fff;
  text-align: justify;
  font-size: 1.2rem;
  line-height: 2;
  .icon-close{
    display: none;
    position:absolute;
    top: 0;
    right: 0;
    padding: .5rem;
    border-radius: .2rem;
    color: var(--theYellow);
    &:hover{
      transform: scale(1.05);
      filter: brightness(1.05);
    }
  }
  .bio-paragraphe{
    width: 90%;
    margin: .5rem auto;
  }
}
.show-text{
  display: block;
}
@media all and (min-width: 800px) and (max-width: 850px){
  .div-info{
    bottom: 5.4rem;
  }
}
@media all and (max-width: 1000px){
  figure{
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .hidden-text{
    font-size: .8rem;
    margin-left: .2rem;
  }
  .div-info{
    width: 100%;
  }
  .bio{
    width: 95%;
    font-size: 1rem;
    line-height: normal;
    .bio-paragraphe{
      width: 80%;
      margin-top: 2.1rem;
    }
  }
  .carousel__next:hover,
  .carousel__prev:hover{
    transform: scale(1.08);
  }
  .carousel__prev{
    left: 0;
  }
  .carousel__next{
    right: 10px;
  }
  .cards{
    width: 100%;
    margin: 0;
  }
}
@media all and (min-width: 500px) and (max-width: 550px){
  .carousel__next,
  .carousel__prev{
    top: 40%;
  }
}
@media all and (min-width: 551px) and (max-width: 799px){
  .carousel__next,
  .carousel__prev{
    top: 45%;
  }
}
@media all and (min-width: 800px) and (max-width: 1200px){
  .carousel__next,
  .carousel__prev{
    top: 25%;
  }
}
@media all and (min-width: 1201px) and (max-width: 1460px){
  .carousel__next,
  .carousel__prev{
    top: 30%;
  }
}
@media all and (min-width: 1461px){
  .carousel__next,
  .carousel__prev{
    top: 40%;
  }
}
