body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav{
  background-color: grey;
  ul li{
    margin: 0 2rem;
  }
}
#checkboxes{
  width: 90%;
  margin: 1rem auto;
}
fieldset{
  legend{
    font-size: 1rem;
    width: 12rem;
  }
  span{
    display: inline-block;
    border: 1px solid red;
    min-width: 10rem;
  }
}
#videos{
  width: 90%;
  margin: auto;
}
.youtube{
  width: 23rem;
  margin: .5rem;
  img{
    width: 20rem;
  }
  #icon{
    z-index: 1;
    margin: 0;
    padding: 0;
    position: absolute;
    background-color: #fff;
    width: 2rem;
    height: 2rem;
  }
  .fa-youtube{
    z-index: 2;
    margin: 0;
    padding: 0;
    position: absolute;
  }
  &:hover{
    color: red;
  }
}
